// // // Secret Key (Boa)
// $palettes-color-a:#442d65;
// $palettes-color-b:#775ba3;
// $palettes-color-c:#91c5a9;
// $palettes-color-d:#f8e1b4;
// $palettes-color-e:#f98a5f;

// // // Raspberry Theme (Muito rosa)
// $palettes-color-a:#591e23;
// $palettes-color-b:#d94e67;
// $palettes-color-c:#f2d8a7;
// $palettes-color-d:#a68572;
// $palettes-color-e:#73503c;

// // // Fitz Fitzpatric (Ruim, parece o maquidonaldis)
// $palettes-color-a:#db3340;
// $palettes-color-b:#e8b71a;
// $palettes-color-c:#f7eac8;
// $palettes-color-d:#1fda9a;
// $palettes-color-e:#28abe3;

// // // Our Little Projects (Boa)
$palettes-color-a:#354458;
$palettes-color-b:#3a9ad9;
$palettes-color-c:#29aba4;
$palettes-color-d:#e9e0d6;
$palettes-color-e:#eb7260;