@import '_variables';
@import '_partials/_header-nav';

body.hindu-app {

    .bg-a {
        background-color: $palettes-color-a;
        h1 { color: $palettes-color-a; }
        h2 { color: $palettes-color-b; }
        h3 { color: $palettes-color-c; }
        h4 { color: $palettes-color-d; }
        h5 { color: $palettes-color-e; }
    }

    .bg-b {
        background-color: $palettes-color-b;
        h1 { color: $palettes-color-a; }
        h2 { color: $palettes-color-b; }
        h3 { color: $palettes-color-c; }
        h4 { color: $palettes-color-d; }
        h5 { color: $palettes-color-e; }
    }

    .bg-c {
        background-color: $palettes-color-c;
        h1 { color: $palettes-color-a; }
        h2 { color: $palettes-color-b; }
        h3 { color: $palettes-color-c; }
        h4 { color: $palettes-color-d; }
        h5 { color: $palettes-color-e; }
    }

    .bg-d {
        background-color: $palettes-color-d;
        h1 { color: $palettes-color-a; }
        h2 { color: $palettes-color-b; }
        h3 { color: $palettes-color-c; }
        h4 { color: $palettes-color-d; }
        h5 { color: $palettes-color-e; }
    }

    .bg-e {
        background-color: $palettes-color-e;
        h1 { color: $palettes-color-a; }
        h2 { color: $palettes-color-b; }
        h3 { color: $palettes-color-c; }
        h4 { color: $palettes-color-d; }
        h5 { color: $palettes-color-e; }
    }


    color:   $palettes-color-a;
    background-color: white;



}